type xiaomiparts_app, domain;
typeattribute xiaomiparts_app mlstrustedsubject;

app_domain(xiaomiparts_app)

allow xiaomiparts_app {
    app_api_service
    activity_service
    activity_task_service
    audioserver_service
    autofill_service
    gpu_service
    mediaextractor_service
    mediametrics_service
    mediaserver_service
    surfaceflinger_service
}:service_manager find;

allow xiaomiparts_app system_app_data_file:dir create_dir_perms;
allow xiaomiparts_app system_app_data_file:{ file lnk_file } create_file_perms;

allow xiaomiparts_app {
    cgroup
    sysfs_thermal
}:{ file lnk_file } rw_file_perms;


# Access standard system services
allow xiaomiparts_app app_api_service:service_manager find;

# Allow XiaomiParts to search, read and write to sysfs_kcal
allow xiaomiparts_app sysfs_kcal:dir search;
allow xiaomiparts_app sysfs_kcal:file rw_file_perms;

dontaudit xiaomiparts_app default_prop:file { read };
allow xiaomiparts_app property_socket:sock_file { write };

get_prop(xiaomiparts_app, xiaomiparts_prop)
set_prop(xiaomiparts_app, xiaomiparts_prop)

# Allow XiaomiParts to get settingsdebug.instant.packages prop
get_prop(xiaomiparts_app, settingslib_prop)

binder_call(xiaomiparts_app, gpuservice)

